In [1]:
import torch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./日月光华-Pytorch/P3-逻辑回归-二分类/credit-a.csv', header=None)

In [3]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,30.83,0.000,0,0,9,0,1.25,0,0,1,1,0,202,0.0,-1
1,1,58.67,4.460,0,0,8,1,3.04,0,0,6,1,0,43,560.0,-1
2,1,24.50,0.500,0,0,8,1,1.50,0,1,0,1,0,280,824.0,-1
3,0,27.83,1.540,0,0,9,0,3.75,0,0,5,0,0,100,3.0,-1
4,0,20.17,5.625,0,0,9,0,1.71,0,1,0,1,2,120,0.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,0,21.08,10.085,1,1,11,1,1.25,1,1,0,1,0,260,0.0,1
649,1,22.67,0.750,0,0,0,0,2.00,1,0,2,0,0,200,394.0,1
650,1,25.25,13.500,1,1,13,7,2.00,1,0,1,0,0,200,1.0,1
651,0,17.92,0.205,0,0,12,0,0.04,1,1,0,1,0,280,750.0,1
652,0,35.00,3.375,0,0,0,1,8.29,1,1,0,0,0,0,0.0,1

In [4]:
X = data.iloc[:,:-1]

In [5]:
Y = data.iloc[:, -1].replace(-1, 0)

In [6]:
X = torch.from_numpy(X.values).type(torch.float32)

In [7]:
Y = torch.from_numpy(Y.values.reshape(-1, 1)).type(torch.float32)

In [8]:
Y.size()

torch.Size([653, 1])

In [9]:
from torch import nn

In [10]:
model = nn.Sequential(
            nn.Linear(15, 1),
            nn.Sigmoid()
)

In [11]:
model

Sequential(
  (0): Linear(in_features=15, out_features=1, bias=True)
  (1): Sigmoid()
)

In [16]:
loss_fn = nn.BCELoss()

In [13]:
opt = torch.optim.Adam(model.parameters(), lr=0.0001)

In [14]:
batches = 16
no_of_batch = 653 // 16

In [17]:
epoches = 1000
for epoch in range(epoches):
    for i in range(no_of_batch):
        start = i * batches
        end = start + batches
        x = X[start : end]
        y = Y[start : end]
        y_pred = model(x)
        loss = loss_fn(y_pred, y)
        opt.zero_grad()
        loss.backward()
        opt.step()

In [18]:
model.state_dict()

OrderedDict([('0.weight',
              tensor([[-3.8576e-02, -1.3424e-02, -1.0791e-02,  2.5841e-01,  1.0117e-01,
                       -2.4816e-02,  2.0159e-01, -1.6624e-01,  1.7882e+00,  4.4962e-01,
                       -1.8277e-01,  2.8424e-03, -3.5485e-02,  8.9922e-04, -3.4402e-04]])),
             ('0.bias', tensor([0.3176]))])

In [19]:
((model(X).data.numpy() > 0.5).astype('int') == Y.numpy()).mean()

0.8637059724349158